$mainBackgroundColor: hsl(0, 0%, 100%);
$accentColor: #ff4848;
$backgroundColor: rgba(0,0,0, 0.15);
$textPrimaryColor: #0d0d0d;
$textSecondaryColor: #404040;
$textPrimaryColorLight: #ffffff;
$techChipBackgroundColor: #ffffff;
$experienceYearColor: rgba(0, 0, 0, 0.5);
$menuBackgroundColor: #ffffff;
$pageDividerColor: rgba(0, 0, 0, 0.1);

$blackColor: #000000;

$hoverOpacity: 0.8;